{{define "sitemap-item"}}
{{with .}}
<ul>
  {{if .Visitable}}
  <a href="/{{.TargetInSitePath}}">{{.Title}}</a>
  {{else}}
  <span>{{.Title}}</span>
  {{end}}
  {{range .Subsections}}
  <li>{{template "sitemap-item" .}}</li>{{end}}
  {{range .Subpages}}
  <li>{{template "sitemap-item" .}}</li>{{end}}
</ul>
{{end}}
{{end}}

{{define "page"}}
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Node.Title}} - Gohandlers</title>

    {{range .Stylesheets}}
    <link rel="stylesheet" href="{{.}}">{{end}}

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Code&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
  </head>

  <body>

    <div class="site-wide-note">Machine generated documentation. <a href="https://github.com/ufukty/gohandlers/issues" target="_blank">Contribute</a> to improve quality together.</div>

    <div id="markdown-page-column-layout">

      <header>
        <nav id="sitemap">
          <details open>
            <summary>Site map</summary>
            <div class="summarized">
              {{template "sitemap-item" .WebSiteRoot}}
            </div>
          </details>
        </nav>

        {{with .MarkdownTOC}}
        <nav id="toc">
          <details open>
            <summary>In this page</summary>
            <div class="summarized">
              <ul>
                {{range .Children}}
                <li>
                  <a href="#{{.ID}}" class="toc{{.Level}}">{{.Title}}</a>
                  {{if gt (len .Children) 0}}
                  <ul>
                    {{range .Children}}
                    <li>
                      <a href="#{{.ID}}" class="toc{{.Level}}">{{.Title}}</a>
                      {{if gt (len .Children) 0}}
                      <ul>
                        {{range .Children}}
                        <li>
                          <a href="#{{.ID}}" class="toc{{.Level}}">{{.Title}}</a>
                        </li>{{end}}
                      </ul>{{end}}
                    </li>{{end}}
                  </ul>{{end}}
                </li>{{end}}
              </ul>
            </div>
          </details>
        </nav>{{end}}
      </header>

      <script>
        function onChange(eval, callback) {
          let last;
          return () => {
            let next = eval()
            if (last != next) {
              last = next
              callback()
            }
          }
        }
        function detailsElemStateAdjuster() {
          let elems = document.querySelectorAll("nav>details")
          let summaries = document.querySelectorAll("nav>details>summary")
          return () => {
            elems.forEach(e => {
              e.open = window.innerWidth >= 700
            })
            summaries.forEach(e => {
              e.style.display = window.innerWidth >= 700 ? "none" : "block"
              e.onclick = window.innerWidth >= 700 ? (e) => { e.preventDefault() } : undefined
            })
          }
        }
        let adjuster = detailsElemStateAdjuster()
        adjuster()
        window.addEventListener("resize", onChange(() => { return window.innerWidth >= 700 }, adjuster, 100))
      </script>

      <main class="markdown">
        {{.MarkdownContent}}
      </main>

    </div>
  </body>

</html>
{{end}}