:root {
  color-scheme: light dark;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  font-weight: inherit;
  scroll-margin-top: 20px;
}

html {
  font-size: 14px;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: light-dark(#444, #aaa);
  background-color: light-dark(#fff, #171717);
  font-weight: 400;
  scroll-behavior: smooth;
  scroll-margin-top: 70px;
}

body {
  width: 100vw;

  @media screen and (width<=800px) {
    & > main {
      padding-top: 50px;

      > *:not(:has(pre, table, ul, ol)) {
        padding: 0 20px;
      }
    }
  }

  @media screen and (800px<width) {
    display: grid;
    grid-template-columns: 300px 1fr;
    align-items: start;
    gap: 0 5vw;
    padding: 5vw 0 30vh 5vw;

    & > #controls {
      display: flex;
      flex-direction: column;
      gap: 5vw;

      & > #navs {
        display: contents;
      }
    }

    & > main {
      max-width: 100%;

      & > p:not(:has(img, pre, table, ul, ol)) {
        max-width: calc(100% - 5vw);
      }

      > *:not(pre) {
        padding-right: 5vw;
      }

      > pre {
        max-width: 100%;
        overflow-x: scroll;
      }
    }
  }
}
