:root {
  color-scheme: light dark;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  font-weight: inherit;
  scroll-margin-top: 20px;
}

html {
  font-size: 16px;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: light-dark(#444, #aaa);
  background-color: light-dark(#fff, #171717);
  line-height: 2em;
  font-weight: 400;
  scroll-behavior: smooth;
  scroll-margin-top: 70px;
}

a {
  text-decoration: none;
}

.nowrap {
  white-space: nowrap;
}

h1 {
  --heading-order: 6;
  font-size: 2em;
}

h2 {
  --heading-order: 5;
  font-size: 1.7em;
}

h3 {
  --heading-order: 4;
  font-size: 1.3em;
}

h4 {
  --heading-order: 3;
  font-size: 1.2em;
}

h5 {
  --heading-order: 2;
}

h6 {
  --heading-order: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  margin: 40px 0;
}

:not(:is(h1, h2, h3, h4, h5, h6)) + :is(h1, h2, h3, h4, h5, h6) {
  margin-top: calc(((7 - var(--heading-order)) / 6 + 1) * 100px);
}

p {
  margin: 10px 0;
}

body {
  width: 100vw;

  @media screen and (width<=800px) {
    & > main {
      padding-bottom: 50vh;
    }
  }

  @media screen and (800px<width) and (width<1700px) {
    display: grid;
    grid-template-columns: 400px 1fr;
    justify-content: left;
    align-items: start;
    gap: 20px;

    position: relative;

    & > #navs {
      grid-column: 1 / 2;
      grid-row: 2 / 3;

      display: flex;
      flex-direction: column;
      gap: 100px;
      padding: 20px 0 20px 20px;
    }

    & > main {
      grid-column: 2 / 3;
      grid-row: 2 / 3;
      overflow-x: hidden;
      padding-bottom: 50vh;
    }
  }

  @media screen and (1700px<=width) {
    display: grid;
    grid-template-columns: 400px 1fr 400px;
    justify-content: space-between;
    align-items: start;
    gap: 0 20px;

    position: relative;

    & > #navs {
      display: contents;

      & > nav#sitemap {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        top: 0;
        position: sticky;
        padding: 20px 0 20px 20px;
      }

      & > nav#toc {
        grid-column: 3 / 4;
        grid-row: 2 / 3;
        top: 0;
        position: sticky;
        padding: 20px 20px 20px 0;
      }
    }

    & > main {
      grid-column: 2 / 3;
      grid-row: 2 / 3;
      justify-self: center;
      width: 100%;
      overflow: hidden;
      padding: 20px 0 50vh;
    }
  }
}

}
